* { 
    box-sizing: border-box;
}

body {
    padding: 10px;
    width: 100%;
    overflow: hidden scroll;
    flex-direction: row;
    margin-top: 100px;
    /*padding-top: -2001px;*/
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #d3cce3, #e9e4f0);

}

.header {
    text-align: center;
}

#root{
    margin-top: -80px;
}

.input{
    margin: 0 auto;    
    width: 500px;       
    float: left;
    margin-right: 100px;    
}

.input .sub-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 10px;    
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

textarea {
    width: 500px;
    min-height: 700px;
    margin: 0 auto;
    padding: 20px;    
    /*border-radius: 15px;    */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #fff;
}

.output {    
    float: right;
    width: 600px;
    height: auto;    
    margin: auto;    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}

.output .sub-header {
    border: 1px solid;
    text-align: left;
    padding: 5px 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none; 
    margin-top: 0;   
}

#preview {
    padding: 20px;
    padding-top: 0;
}

img {
    width: 80%;
}